@use 'src/assets/scss/vars' as _vars;
@use 'src/assets/scss/mixins/mix_theme_selector'  as _TS;

:host {
  .nav {
    display: grid;
    grid-template-columns: 1fr;

    &__container {
      align-items: center;
      border-radius: 0.5em;
      display: flex;
      justify-content: space-between;
      min-height: 40px;
      overflow: hidden;
      padding: 0 1em;

      @include _TS.themed() {
        background: _TS.prop('card-bg');
        box-shadow: _TS.prop('shadow-1');
      }
    }

    .navbar {
      &__rigth {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        position: relative;
      }
    }
  }
}
