<nav class="nav bg-light">
  <section class="nav__container navbar">

    <app-navbar-link [href]="'/'" [title]="'Lectuariando'" [external]="false">
      Lectuariando
    </app-navbar-link>

    <section class="navbar__rigth">
      <app-navbar-link
        [href]="'https://github.com/f3rjara'"
        [external]="true"
        [target]="'_blank'"
        [title]="'Visita mi Github! @f3rjara'">
        <app-icon-for-type [width]="'28px'" [height]="'28px'" [name]="'icon-github'" class="icon">
        </app-icon-for-type>
      </app-navbar-link>

      <app-navbar-link
        [href]="'https://www.linkedin.com/in/f3rjara/'"
        [external]="true"
        [target]="'_blank'"
        [title]="'Visita mi linkedin! @f3rjara'">
        <app-icon-for-type [width]="'28px'" [height]="'28px'" [name]="'icon-linkedin'" class="icon">
        </app-icon-for-type>
      </app-navbar-link>

      <app-navbar-link
        [href]="'https://fernando-jaramillo.com'"
        [external]="true"
        [target]="'_blank'"
        [title]="'Visita mi web! fernando-jaramillo.com'">
        <app-icon-for-type [width]="'28px'" [height]="'28px'" [name]="'icon-web'" class="icon">
        </app-icon-for-type>
      </app-navbar-link>

      <app-switch-theme></app-switch-theme>
    </section>

  </section>
</nav>
