@use 'mixins/mix_button' as _mix_button;

html, body {
  margin: 0;
  padding: 0;
}

.btn {
  &__text {
    font-size: 1em;
  }

  &__icon {
    margin-right: 0.5em;
  }

  @include _mix_button.button-states;
}
