@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,600;0,700;0,800;1,400&family=Tektur:wght@400;600;800&display=swap');

/*  Colors Themes*/
//--colors

$brand--primary--light: #b45139;
$brand--primary--dark: lighten($brand--primary--light, 10%);

$brand--secondary--light: $brand--primary--light;
$brand--secondary--dark: $brand--primary--dark;

$bg--red: lighten($brand--primary--light, 40%);
$bg--blue: lighten($brand--secondary--light, 40%);

$bg--light: #F5F4F3;
$bg--dark--top: #333848;
$bg--dark--top: #272b38;
$bg--dark--bottom: #212631;
$bg--dark: linear-gradient(180deg, $bg--dark--top 0%, $bg--dark--bottom 100%);

$bg--card--light: lighten($bg--light, 1%);
$bg--card--dark: desaturate(lighten($bg--dark--top, 5%), 5%);

$card-border--light: 0px solid transparent;
$card-border--dark: 1px solid lighten($bg--card--dark, 12%);

$text--imp--light: #242D30;
$text--imp--dark: #E8E4E0;
$text--light: lighten($text--imp--light, 12%);
$text--dark: #cac3bc;
$text--2--light: $text--imp--light;
$text--2--dark: $text--imp--dark;
$text--3--light: lighten($text--light, 20%);
$text--3--dark: darken($text--dark, 20%);

$border--light: darken($bg--card--light, 10%);
$border--dark: lighten($bg--card--dark, 10%);

$hover--light: transparentize($brand--secondary--light, .9);
$hover--dark: transparentize(#fff, .9);

$highlight-color: transparentize($brand--secondary--light, .1);

/* shadows */
$shadow-ligth-1: 0 5px 10px rgba($bg--dark--top, 0.2);
$shadow-dark-1: 0 5px 10px rgba($bg--dark--bottom, 0.2);

/* Typography */
$font-body: 'Poppins', sans-serif;
$font-heading: 'Tektur', cursive;

/* media queries */
$mobile: 576px;
$tablet: 768px;
$desktop: 1024px;
$large-desktop: 1200px;
$extra-large-desktop: 1400px;
