@use 'src/assets/scss/vars'  as _vars;
@use 'src/assets/scss/mixins/mix_theme_selector'  as _TS;

.title {
  text-align: center;
  @include _TS.themed() {
    color: _TS.prop('text');
  }
}

.icon {
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
  display: block;
}
