@use 'src/assets/scss/vars'  as _vars;

.container {
  margin: 2em 0;
  display: grid;
  grid-template-columns: 65% 1fr;
  gap: 1em;
  &__card {
    border: 1px solid red;
    &--list {
      position: sticky;
      top: 15px;
      height: fit-content;
    }
  }
  @media screen and (max-width: 992px) {
    grid-template-columns: 1fr;
    &__card {
      border: 1px solid blue;
    }
  }
}


.header__filter {
  background: white;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  padding: 1em;
  border-radius: .5em;
  margin-bottom: 2em;
}
