<button
  class="btn-switch"
  (click)="changeSwitch()"
  title="{{ !activateThemeDark ? 'Activar' : 'Desactivar' }} el modo oscuro">
  <app-icon-for-type
    *ngIf="!activateThemeDark"
    [width]="'45px'"
    [height]="'35px'"
    [name]="'icon-switch-off'"
    class="icon">
  </app-icon-for-type>

  <app-icon-for-type
    *ngIf="activateThemeDark"
    [width]="'45px'"
    [height]="'35px'"
    [name]="'icon-switch-on'"
    [stroke]="'#b45139'"
    class="icon">
  </app-icon-for-type>

</button>
